# Created by https://www.gitignore.io/api/c++,visualstudiocode,cmake
# Edit at https://www.gitignore.io/?templates=c++,visualstudiocode,cmake

# Modified by Jeb (Natschu)

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### VisualStudioCode ###
!.vscode/settings.json
!.vscode/c_cpp_settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/engine_snippets.code_snippets
.vscode/ipch/*

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/

*builds*/

### SFML ###
!SFML-2.5.1/bin/*.dll
!SFML-2.5.1/examples
!SFML-2.5.1/include
!SFML-2.5.1/lib/*.a

# End of https://www.gitignore.io/api/c++,visualstudiocode,cmake

